<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="display-1">30DayTester</h1>
      <h1 class="display-2">Implementer</h1>
      <h1 class="display-3">Analyzer</h1>
      <h1 class="display-4">Sharer</h1>
    </div>
    <div class="col-sm-12 col-md-6">
      <%= image_tag('sliced.png', class: 'img-fluid mx-auto d-block') %>
    </div>
  </div>
  <div class="me-raw buffer">
    <h1>Me Raw</h1>
    <br>
    <p>This is who I am, actually, no! It's more like my environment. This is a valuable lesson... your circumstances DO NOT DEFINE YOU!</p>
    <p>So let me rephrase that. Here's my circumstances:</p>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <dt>Health</dt>
        <dd>- 80kg with about 25% body fat.</dd>
        <dd>- six pack is somewhat... mmm... gone.</dd>
        <dd>- will probably lose a fight to a teenager.</dd>
        <dd>- will not risk it to run after the ice cream truck.</dd>
      </div>
      <div class="col-sm-12 col-md-6">
        <dt>Relationships</dt>
        <dd>- Fiancée just left me.</dd>
        <dd>- No contact with my 6 month old boy.</dd>
        <dd>- Pretty sure I have no friends.</dd>
        <dd>- Speak about 1000 words each day.</dd>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <dt>Finances</dt>
        <dd>- Bank Balance: -R12 367.71</dd>
        <dd>- No Income or Job.</dd>
        <dd>- Massive Debt (R68 000)</dd>
        <dd>- Unable to support my boy.</dd>
      </div>
      <div class="col-sm-12 col-md-6">
        <dt>Mental State</dt>
        <dd>- Stressed af.</dd>
        <dd>- Little to no hope.</dd>
        <dd>- Forgets about 90% of what I should do.</dd>
        <dd>- Unable to focus for longer than 10 mins.</dd>
      </div>
    </div>
  </div>
  <div class="30-day-wrapper buffer">
    <h1>30 Day Tester</h1>
    <small>Prove all thing; hold fast that which is good. <span class="text-muted">- I Thessalonians 5:21</span></small>
    <br>
    <br>
    <p>As noted, my life is pretty messed up. Yes I know it is bad and I know some massive change is required. Hence, this experiment.</p>
    <p>The idea came about the fact that I have no accountability and whenever I start a project, it got really easy to quit without feeling any remorse. But because I am so afraid of letting others down, I have decided to get accountability partners on a global scale, so welcome and thank you.</p>
    <h6>The plan:</h6>
    <p>I will implement the following into my daily life for the next 30 days.</p>
    <ul class="list-unstyled">
      <li>Wake up at 05:00am CAT each day.</li>
      <li>Meditate for at least 10 minutes.</li>
      <li>Repeat affirmations throughout the day.</li>
      <li>Perform visualizations for at least 10 minutes.</li>
      <li>Read at least 30 minutes.</li>
      <li>Perform butt and arms exercises each day.</li>
      <li>Keep a gratitude journal.</li>
      <li>Drink 2 liters of water.</li>
    </ul>
  </div>
  <div class="implementer-wrapper buffer">
    <h1>Implementer</h1>
    <small>Execution trumps knowledge every day of the week. <span class="text-muted">- Tony Robbins</span></small>
    <br>
    <br>
    <p>The day of implementation is 22 June 2020 and will end 21 June 2020.</p>
    <p>You can follow my progress on Youtube.
      <%= link_to image_tag('youtube.png', class: 'img-fluid', size: '32x32'), root_path %></p>
    </div>
  </div>