  <div class="container" id="index-wrapper">
    <div class="text-center">
      <h4>I help people reach their goals and become a better version of themselves.</h4>
      <br>
      <h6>Have you hit rock-bottom? Good!</h6>
      <p>Now we have a rock solid foundation upon which we can build <span class="underline">together</span>.</p>
      <p>I am here to teach you how to live, no I'm not Barney Stinson, but if you are tired of always trying to figure out why some people just have it all, then maybe it is time to stop trying. Stop being a damn spectator and take massive action!</p>
      <br>
      <button class="btn btn-outline-info"><%= link_to "So, who am I?", simple_pages_about_path %></button>
  </div>
</div>