<div class="footer-wrapper">
  <div class="buffer">
    <div class="container text-center">
      <footer>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p>Privacy Policy</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>Terms of Service</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <p>Recognition</p>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-12">
            <p>A remote-first business operating from South Africa.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>&copy; 2020 Jacques le Roux</p>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>