<nav>
  <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'About', simple_pages_about_path %></li>
      <li><%= link_to 'Portfolio', simple_pages_portfolio_path %></li>
      <li><%= link_to 'Contact', simple_pages_contact_path %></li>
  </ul>
</nav>